<div class="form-signin">
    <form class="mb-4">
        <div class="text-center mb-4">
            <h1 class="h3 mb-3 font-weight-normal">入場アプリ</h1>
            <p>入場を行ってください</p>
            <p class="alert-success p-3 hidden success">成功</p>
            <p class="alert-danger p-3 hidden failure">失敗</p>
        </div>           
    </form>

</div>

<script src="/js/index.js"></script>